In [1]:
import pandas as pd
import numpy as np
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import Workbook

#### Read the csv data file into Pandas dataframe

In [2]:
# Create a Pandas dataframe from the data.

df = pd.read_csv('data.csv', header=None)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,01.0103,79.000000,10.3,2.3,0.0,,S,4711.000000,161.000000,1012451.0,...,81.7,10.3,2.3,NaN,214.0,0.0,456.0,0.0,NaN,NaN
1,01.0899,54.000000,0.0,0.0,0.0,,S,4063.000000,251.000000,835175.0,...,54.0,NaN,NaN,NaN,0.0,0.0,57.0,22.0,NaN,NaN
2,01.0901,48.300000,9.7,3.0,0.0,,S,8038.000000,277.000000,1233645.0,...,48.3,9.7,3.0,NaN,141.0,0.0,285.0,0.0,NaN,NaN
3,01.1102,11.000000,0.7,1.7,0.0,,S,3336.000000,280.000000,462159.0,...,11.0,0.7,1.7,NaN,0.0,0.0,0.0,0.0,NaN,NaN
4,01.1103,0.000000,0.0,0.0,0.0,,S,1471.000000,22.000000,353459.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN

#### Assign headers for the data

In [3]:
df.columns=["A",
            "B",
            "C",
            "D",
            "E",
            "F",
            "G",
            "H",
            "I",
            "J",
            "K",
            "L",
            "M",
            "N",
            "O",
            "P",
            "Q",
            "R",
            "S",
            "T",
            "U",
            "V",
            "W",
            "X",
            "Y",
            "Z"]

#### Zero fill the null cells

In [4]:
df.fillna(0, inplace=True)
df.head()

,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
0,01.0103,79.000000,10.3,2.3,0.0,,S,4711.000000,161.000000,1012451.0,...,81.7,10.3,2.3,0.0,214.0,0.0,456.0,0.0,0.0,0.0
1,01.0899,54.000000,0.0,0.0,0.0,,S,4063.000000,251.000000,835175.0,...,54.0,0.0,0.0,0.0,0.0,0.0,57.0,22.0,0.0,0.0
2,01.0901,48.300000,9.7,3.0,0.0,,S,8038.000000,277.000000,1233645.0,...,48.3,9.7,3.0,0.0,141.0,0.0,285.0,0.0,0.0,0.0
3,01.1102,11.000000,0.7,1.7,0.0,,S,3336.000000,280.000000,462159.0,...,11.0,0.7,1.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01.1103,0.000000,0.0,0.0,0.0,,S,1471.000000,22.000000,353459.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Convert all columns to text

In [5]:
all_columns = list(df) # Creates list of all column headers
df[all_columns] = df[all_columns].astype(str)
#df.info()

#### Setup the Excel workbook and add a sheet

In [6]:
wb = Workbook()
dest_filename = r"data_openpyxlsx.xlsx"

ws = wb.worksheets[0]
ws.title = "Sheet 1"

#### Add each row and include columns of the dataframe to a cell in the worksheet

In [7]:
rows = dataframe_to_rows(df, index=False, header=True)
for r_indx, row in enumerate(rows, 1):
    for c_indx, value in enumerate(row, 1):
        ws.cell(row=r_indx, column=c_indx, value=value)

#### Save the new Excel workbook

In [8]:
wb.save(filename = dest_filename)

#### Examine the contents of the data using dataframe_to_rows

In [9]:
print( [*dataframe_to_rows(df)] )

[[None, 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'], FrozenList([None]), [0, '01.0103', '79.000000', '10.3', '2.3', '0.0', ' ', 'S', '4711.000000', '161.000000', '1012451.0', '281711.0', '388681.0', '0.0', '0.0', '1639517.0', '3845674.0', '81.7', '10.3', '2.3', '0.0', '214.0', '0.0', '456.0', '0.0', '0.0', '0.0'], [1, '01.0899', '54.000000', '0.0', '0.0', '0.0', ' ', 'S', '4063.000000', '251.000000', '835175.0', '213496.0', '190730.0', '0.0', '0.0', '889588.0', '8386403.0', '54.0', '0.0', '0.0', '0.0', '0.0', '0.0', '57.0', '22.0', '0.0', '0.0'], [2, '01.0901', '48.300000', '9.7', '3.0', '0.0', ' ', 'S', '8038.000000', '277.000000', '1233645.0', '359881.0', '122586.0', '0.0', '0.0', '10210912.0', '2615849.0', '48.3', '9.7', '3.0', '0.0', '141.0', '0.0', '285.0', '0.0', '0.0', '0.0'], [3, '01.1102', '11.000000', '0.7', '1.7', '0.0', ' ', 'S', '3336.000000', '280.000000', '462159.0', '135349.0', '26498.0', '0.0', '0.0', '10310316.0', '2774215.0', '11.0', '0.7', '1.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [4, '01.1103', '0.000000', '0.0', '0.0', '0.0', ' ', 'S', '1471.000000', '22.000000', '353459.0', '104569.0', '151264.0', '0.0', '0.0', '2341495.0', '1802102.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [5, '03.0502', '13.700000', '6.7', '0.0', '0.0', ' ', 'S', '3060.000000', '84.000000', '565982.0', '165936.0', '104661.0', '0.0', '0.0', '1871042.0', '1173975.0', '13.7', '6.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [6, '04.0201', '53.700000', '21.7', '0.0', '0.0', ' ', 'S', '4227.000000', '642.000000', '2000160.0', '515085.0', '226982.0', '0.0', '0.0', '11192.0', '12200.0', '56.3', '21.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [7, '04.0601', '9.300000', '0.0', '0.0', '0.0', ' ', 'S', '2336.000000', '0.000000', '746719.0', '203837.0', '119172.0', '0.0', '0.0', '27901.0', '29000.0', '9.3', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [8, ' Other."', '05.0199', '0.0', '0.0', '0.0', '0.000000', '0', 'S', '90.000000', '0.0', '117823.0', '22974.0', '31733.0', '0.0', '0.0', '3000.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [9, '05.0207', '0.000000', '0.0', '0.0', '0.0', ' ', 'S', '2301.000000', '156.000000', '1022045.0', '254543.0', '116496.0', '0.0', '0.0', '250104.0', '1721.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [10, '09.0101', '186.000000', '9.7', '7.7', '0.0', ' ', 'S', '131.000000', '0.000000', '94450.0', '30751.0', '238823.0', '0.0', '0.0', '19268.0', '0.0', '194.7', '9.7', '7.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [11, '11.0101', '92.700000', '14.7', '10.0', '0.0', ' ', 'S', '12700.000000', '424.000000', '3845733.0', '893836.0', '20529.0', '0.0', '0.0', '1351549.0', '289651.0', '100.7', '14.7', '10.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [12, ' General"', '13.0101', '0.0', '0.0', '0.0', '0.000000', '0.000000', 'S', '135.000000', '27.0', '406232.0', '125900.0', '740947.0', '0.0', '0.0', '16287.0', '673610.0', '0.0', '0.0', '0.0', '0.0', '33.0', '0.0', '33.0', '0.0', '0.0'], [13, '13.1001', '27.300000', '5.0', '3.0', '0.0', ' ', 'S', '15.000000', '0.000000', '320034.0', '86713.0', '741276.0', '0.0', '0.0', '408748.0', '513189.0', '28.0', '5.0', '3.0', '0.0', '0.0', '0.0', '15.0', '0.0', '0.0', '0.0'], [14, ' Other."', '13.1099', '0.0', '0.0', '0.0', '0.000000', '0.000000', 'S', '5131.000000', '2772.0', '172202.0', '28276.0', '37766.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '2331.0', '1407.0', '5131.0', '2772.0', '0.0'], [15, '13.1312', '21.700000', '2.7', '0.0', '0.0', ' ', 'S', '769.000000', '78.000000', '133379.0', '39015.0', '82045.0', '0.0', '0.0', '0.0', '0.0', '21.7', '2.7', '0.0', '0.0', '18.0', '72.0', '23.0', '72.0', '0.0', '0.0'], [16, '13.1315', '0.000000', '0.0', '0.0', '0.0', ' ', 'S', '0.000000', '108.000000', '241911.0', '72374.0', '803367.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [17, '14.0301', '28.700000', '8.3', '1.0', '0.0', ' ', 'S', '2217.000000', '129.000000', '785613.0', '211839.0', '96479.0', '0.0', '0.0', '2545513.0', '645499.0', '28.7', '8.3', '1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [18, '14.0501', '0.000000', '6.0', '4.3', '0.0', ' ', 'S', '344.000000', '95.000000', '1109234.0', '302804.0', '55344.0', '0.0', '0.0', '748070.0', '0.0', '0.0', '6.0', '4.3', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [19, '14.0701', '78.700000', '1.7', '7.3', '0.0', ' ', 'S', '6076.000000', '381.000000', '2959039.0', '715202.0', '341981.0', '0.0', '0.0', '2729747.0', '2701.0', '78.7', '1.7', '7.3', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [20, '14.0801', '80.300000', '20.0', '6.0', '0.0', ' ', 'S', '6442.000000', '449.000000', '2795985.0', '681385.0', '363441.0', '0.0', '0.0', '991852.0', '760.0', '80.7', '20.0', '6.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [21, '14.1001', '65.700000', '15.7', '6.7', '0.0', ' ', 'S', '10143.000000', '428.000000', '3490541.0', '850742.0', '227236.0', '0.0', '0.0', '917448.0', '1018002.0', '67.7', '15.7', '6.7', '0.0', '96.0', '0.0', '96.0', '0.0', '0.0', '0.0'], [22, '14.1901', '147.000000', '11.3', '6.7', '0.0', ' ', 'S', '13391.000000', '673.000000', '3279489.0', '825383.0', '289503.0', '0.0', '0.0', '1108779.0', '65929.0', '147.0', '11.3', '6.7', '0.0', '0.0', '96.0', '903.0', '96.0', '0.0', '0.0'], [23, '14.2101', '29.700000', '5.3', '2.7', '0.0', ' ', 'S', '1970.000000', '147.000000', '1000163.0', '234260.0', '150200.0', '0.0', '0.0', '2673418.0', '116922.0', '29.7', '5.3', '2.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [24, '16.0905', '27.300000', '6.7', '4.7', '0.0', ' ', 'S', '9931.000000', '284.000000', '1753643.0', '367204.0', '60825.0', '0.0', '0.0', '12378.0', '0.0', '47.3', '6.7', '4.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [25, '19.0101', '55.300000', '0.0', '0.0', '0.0', ' ', 'S', '108.000000', '0.000000', '44348.0', '8534.0', '80142.0', '0.0', '0.0', '628358.0', '9835523.0', '55.3', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [26, '19.0203', '42.300000', '5.3', '0.0', '0.0', ' ', 'S', '5041.000000', '92.000000', '974129.0', '263238.0', '202081.0', '0.0', '0.0', '281761.0', '0.0', '44.3', '5.3', '0.0', '0.0', '735.0', '18.0', '1227.0', '45.0', '0.0', '0.0'], [27, '19.0501', '65.300000', '10.0', '0.0', '0.0', ' ', 'S', '1495.000000', '64.000000', '72317.0', '3185.0', '158261.0', '0.0', '0.0', '543711.0', '429106.0', '65.3', '10.0', '0.0', '0.0', '541.0', '0.0', '1081.0', '0.0', '0.0', '0.0'], [28, '19.0701', '1.000000', '8.7', '0.0', '0.0', ' ', 'S', '1313.000000', '273.000000', '0.0', '290185.0', '93487.0', '0.0', '0.0', '0.0', '5809.0', '1.0', '8.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [29, '19.0704', '0.000000', '0.0', '2.3', '0.0', ' ', 'S', '565.000000', '132.000000', '184913.0', '26943.0', '139441.0', '0.0', '0.0', '312280.0', '140982.0', '0.0', '0.0', '2.3', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [30, '22.0101', '0.000000', '0.0', '0.0', '128.7', ' ', 'S', '0.000000', '4876.000000', '4884331.0', '1223684.0', '515599.0', '0.0', '0.0', '68251.0', '37942.0', '0.0', '0.0', '0.0', '128.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [31, '23.0101', '85.700000', '3.7', '8.7', '0.0', ' ', 'S', '30266.000000', '715.000000', '6275240.0', '1431559.0', '266078.0', '0.0', '0.0', '7475.0', '391591.0', '97.7', '3.7', '8.7', '0.0', '366.0', '0.0', '1191.0', '0.0', '0.0', '0.0'], [32, '25.0101', '0.000000', '74.3', '0.0', '0.0', ' ', 'S', '2829.000000', '2467.000000', '1699194.0', '473644.0', '298767.0', '0.0', '0.0', '53647.0', '5732.0', '0.0', '74.3', '0.0', '0.0', '957.0', '1236.0', '1380.0', '2363.0', '0.0', '0.0'], [33, '26.0101', '209.300000', '5.0', '4.7', '0.0', ' ', 'S', '31301.000000', '576.000000', '4894485.0', '1045343.0', '274626.0', '0.0', '0.0', '1799796.0', '5326.0', '215.3', '5.0', '4.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [34, '26.0202', '0.000000', '0.0', '5.7', '0.0', ' ', 'S', '1682.000000', '772.000000', '2476456.0', '642651.0', '257375.0', '0.0', '0.0', '7835673.0', '0.0', '0.0', '0.0', '5.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [35, '26.0305', '0.000000', '0.3', '2.3', '0.0', ' ', 'S', '785.000000', '179.000000', '133915.0', '38322.0', '4921.0', '0.0', '0.0', '3378484.0', '947262.0', '0.0', '0.3', '2.3', '0.0', '0.0', '7.0', '0.0', '40.0', '0.0', '0.0'], [36, '26.0403', '0.000000', '0.0', '0.0', '0.0', ' ', 'S', '10322.000000', '4787.000000', '1560832.0', '411549.0', '50763.0', '0.0', '0.0', '594172.0', '0.0', '0.0', '0.0', '0.0', '0.0', '750.0', '0.0', '750.0', '0.0', '0.0', '0.0'], [37, '26.0503', '0.000000', '0.0', '1.0', '0.0', ' ', 'S', '167.000000', '728.000000', '2248310.0', '574523.0', '65036.0', '0.0', '0.0', '1921905.0', '451638.0', '0.0', '0.0', '1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [38, '26.0702', '0.000000', '3.3', '5.0', '0.0', ' ', 'S', '1058.000000', '328.000000', '340391.0', '90285.0', '4227.0', '0.0', '0.0', '3994614.0', '1173436.0', '0.0', '3.3', '5.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [39, '26.0901', '0.000000', '0.0', '5.7', '0.0', ' ', 'S', '2713.000000', '1573.000000', '2370120.0', '614651.0', '444161.0', '0.0', '0.0', '5484759.0', '199065.0', '0.0', '0.0', '5.7', '0.0', '137.0', '0.0', '576.0', '3.0', '0.0', '0.0'], [40, '26.1001', '0.000000', '0.0', '0.0', '0.0', ' ', 'S', '346.000000', '876.000000', '2216203.0', '586106.0', '426257.0', '0.0', '0.0', '7062732.0', '849.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [41, '26.1004', '0.000000', '1.7', '3.0', '0.0', ' ', 'S', '116.000000', '184.000000', '1380795.0', '365990.0', '302553.0', '0.0', '0.0', '3401106.0', '3333.0', '0.0', '1.7', '3.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [42, '26.1006', '0.000000', '0.0', '0.0', '0.0', ' ', 'S', '0.000000', '2.000000', '0.0', '0.0', '10131.0', '0.0', '0.0', '1928604.0', '60464.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [43, '26.1102', '0.000000', '0.0', '0.0', '0.0', ' ', 'S', '1185.000000', '180.000000', '446585.0', '105261.0', '33182.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [44, '26.1309', '0.000000', '0.0', '0.0', '0.0', ' ', 'S', '8.000000', '680.000000', '740615.0', '168462.0', '682845.0', '0.0', '0.0', '1285472.0', '36569.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '63.0', '0.0', '0.0'], [45, '26.1501', '0.700000', '0.0', '0.0', '0.0', ' ', 'S', '88.000000', '53.000000', '19931.0', '8610.0', '172517.0', '0.0', '0.0', '4880859.0', '3690.0', '2.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [46, '27.0101', '54.300000', '13.3', '10.0', '0.0', ' ', 'S', '49145.000000', '630.000000', '5202530.0', '1123712.0', '293934.0', '0.0', '0.0', '297747.0', '128924.0', '88.3', '13.3', '10.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [47, '27.0501', '0.000000', '10.3', '6.7', '0.0', ' ', 'S', '9088.000000', '2540.000000', '2454976.0', '477662.0', '256927.0', '0.0', '0.0', '275663.0', '20056.0', '0.0', '10.3', '6.7', '0.0', '0.0', '155.0', '0.0', '257.0', '0.0', '0.0'], [48, '30.1101', '0.000000', '0.0', '2.0', '0.0', ' ', 'S', '1485.000000', '129.000000', '352590.0', '84010.0', '7801.0', '0.0', '0.0', '21078.0', '83047.0', '0.0', '0.0', '2.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [49, '30.1201', '0.000000', '2.7', '0.0', '0.0', ' ', 'S', '174.000000', '237.000000', '431827.0', '116777.0', '17144.0', '0.0', '0.0', '4392.0', '12626.0', '0.0', '2.7', '0.0', '0.0', '0.0', '48.0', '0.0', '60.0', '0.0', '0.0'], [50, '38.0101', '14.700000', '1.7', '4.3', '0.0', ' ', 'S', '9767.000000', '213.000000', '1912064.0', '425868.0', '47933.0', '0.0', '0.0', '6.0', '500.0', '18.0', '1.7', '4.3', '0.0', '0.0', '0.0', '240.0', '0.0', '0.0', '0.0'], [51, '40.0501', '49.300000', '3.3', '9.3', '0.0', ' ', 'S', '39731.000000', '644.000000', '5236586.0', '1106097.0', '168600.0', '0.0', '0.0', '2824572.0', '13183.0', '56.7', '3.3', '9.3', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [52, '40.0601', '8.700000', '9.0', '0.7', '0.0', ' ', 'S', '4686.000000', '299.000000', '1594076.0', '361307.0', '134396.0', '0.0', '0.0', '862226.0', '48293.0', '9.3', '9.0', '0.7', '0.0', '81.0', '0.0', '81.0', '0.0', '0.0', '0.0'], [53, '40.0801', '9.700000', '6.7', '7.3', '0.0', ' ', 'S', '26096.000000', '605.000000', '4097663.0', '934380.0', '106720.0', '0.0', '0.0', '1653825.0', '112232.0', '10.3', '6.7', '7.3', '0.0', '4.0', '0.0', '4.0', '0.0', '0.0', '0.0'], [54, '42.2801', '209.300000', '30.3', '17.0', '0.0', ' ', 'S', '34207.000000', '682.000000', '4542300.0', '1040230.0', '164440.0', '0.0', '0.0', '2377323.0', '79083.0', '234.0', '30.3', '17.0', '0.0', '0.0', '0.0', '12.0', '0.0', '0.0', '0.0'], [55, '44.0401', '0.000000', '31.0', '3.7', '0.0', ' ', 'S', '0.000000', '685.000000', '1089168.0', '252648.0', '230503.0', '0.0', '0.0', '1022258.0', '379668.0', '0.0', '31.0', '3.7', '0.0', '0.0', '48.0', '0.0', '48.0', '0.0', '0.0'], [56, '44.0701', '65.700000', '101.0', '2.0', '0.0', ' ', 'S', '5568.000000', '3565.000000', '3476945.0', '960501.0', '731471.0', '0.0', '0.0', '851814.0', '1194175.0', '65.7', '101.0', '2.0', '0.0', '603.0', '1137.0', '1288.0', '2464.0', '0.0', '0.0'], [57, '45.0201', '25.000000', '6.7', '3.3', '0.0', ' ', 'S', '14011.000000', '497.000000', '1990183.0', '490614.0', '154281.0', '0.0', '0.0', '137824.0', '208793.0', '28.3', '6.7', '3.3', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [58, '45.0701', '11.300000', '3.3', '6.7', '0.0', ' ', 'S', '10695.000000', '398.000000', '2059928.0', '487480.0', '66308.0', '0.0', '0.0', '252690.0', '1397.0', '13.3', '3.3', '6.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [59, '45.0901', '53.300000', '30.3', '0.0', '0.0', ' ', 'S', '0.000000', '900.000000', '570469.0', '149675.0', '31858.0', '0.0', '0.0', '23088.0', '312935.0', '63.3', '30.3', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [60, '45.1001', '96.300000', '4.7', '3.7', '0.0', ' ', 'S', '8626.000000', '259.000000', '2057315.0', '514736.0', '99070.0', '0.0', '0.0', '57840.0', '0.0', '119.7', '4.7', '3.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [61, '45.1101', '25.300000', '1.7', '5.3', '0.0', ' ', 'S', '8935.000000', '223.000000', '1689361.0', '392901.0', '80951.0', '0.0', '0.0', '174611.0', '0.0', '33.7', '1.7', '5.3', '0.0', '0.0', '0.0', '0.0', '2.0', '0.0', '0.0'], [62, '50.0408', '27.000000', '1.7', '0.0', '0.0', ' ', 'S', '2372.000000', '0.000000', '853052.0', '251613.0', '72789.0', '0.0', '0.0', '20616.0', '1078.0', '27.0', '1.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [63, '50.0501', '21.000000', '0.7', '0.0', '0.0', ' ', 'S', '4937.000000', '3.000000', '861295.0', '237998.0', '61710.0', '0.0', '0.0', '101492.0', '0.0', '23.7', '0.7', '0.0', '0.0', '0.0', '0.0', '90.0', '0.0', '0.0', '0.0'], [64, '50.0702', '42.000000', '6.3', '0.0', '0.0', ' ', 'S', '13256.000000', '213.000000', '2534782.0', '745074.0', '191940.0', '0.0', '0.0', '0.0', '0.0', '48.7', '6.3', '0.0', '0.0', '1926.0', '0.0', '3876.0', '0.0', '0.0', '0.0'], [65, '50.0901', '0.000000', '0.3', '11.3', '0.0', ' ', 'S', '520.000000', '227.000000', '291060.0', '73107.0', '32186.0', '0.0', '0.0', '10921.0', '1289.0', '0.0', '0.3', '11.3', '0.0', '0.0', '42.0', '0.0', '96.0', '0.0', '0.0'], [66, '50.0902', '7.300000', '0.3', '4.3', '0.0', ' ', 'S', '690.000000', '439.000000', '337609.0', '106263.0', '588.0', '0.0', '0.0', '0.0', '0.0', '8.0', '0.3', '4.3', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [67, '50.0903', '13.300000', '12.0', '0.0', '0.0', ' ', 'S', '4.000000', '0.000000', '98033.0', '19707.0', '143608.0', '0.0', '0.0', '0.0', '0.0', '13.3', '12.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [68, '50.0905', '0.000000', '0.7', '0.0', '0.0', ' ', 'S', '1474.000000', '142.000000', '510170.0', '158583.0', '9078.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.7', '0.0', '0.0', '54.0', '0.0', '57.0', '0.0', '0.0', '0.0'], [69, '50.1001', '21.700000', '10.7', '0.0', '0.0', ' ', 'S', '1640.000000', '534.000000', '570096.0', '143240.0', '57423.0', '0.0', '0.0', '1300.0', '0.0', '22.3', '10.7', '0.0', '0.0', '135.0', '273.0', '183.0', '534.0', '0.0', '0.0'], [70, '50.1003', '0.000000', '0.0', '0.0', '0.0', ' ', 'S', '1268.000000', '151.000000', '1254407.0', '385620.0', '203384.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [71, '51.0000', '95.300000', '115.7', '14.7', '0.0', ' ', 'S', '3937.000000', '2436.000000', '0.0', '0.0', '12995.0', '0.0', '0.0', '46930.0', '0.0', '95.3', '115.7', '14.7', '0.0', '228.0', '289.0', '566.0', '505.0', '0.0', '0.0'], [72, ' General."', '51.0201', '0.0', '0.0', '0.0', '0.000000', '0.000000', 'S', '2152.000000', '1100.0', '974838.0', '282176.0', '29805.0', '0.0', '0.0', '759.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '5.0', '0.0', '5.0', '0.0'], [73, '51.0912', '0.000000', '54.7', '0.0', '0.0', ' ', 'S', '297.000000', '3862.000000', '1000937.0', '274462.0', '134097.0', '0.0', '0.0', '57.0', '0.0', '0.0', '54.7', '0.0', '0.0', '0.0', '1223.0', '0.0', '2363.0', '0.0', '0.0'], [74, '51.2003', '0.000000', '5.3', '9.7', '0.0', ' ', 'S', '73.000000', '8149.000000', '3005064.0', '729188.0', '376728.0', '0.0', '0.0', '9159249.0', '15037.0', '0.0', '5.3', '9.7', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [75, ' Pharmaceutical Sciences', ' and Administr"', '51.2099', '0.0', '0.0', '0.000000', '0', '11.000000', 'S', '1467.0', '30518.0', '3245676.0', '821465.0', '121940.0', '0.0', '0.0', '828354.0', '5760764.0', '0.0', '0.0', '0.0', '0.0', '342.0', '150.0', '612.0', '690.0'], [76, '51.2201', '25.000000', '48.0', '0.0', '10.0', ' ', 'S', '665.000000', '80.000000', '0.0', '84.0', '3324.0', '0.0', '0.0', '1555245.0', '734411.0', '25.0', '48.0', '0.0', '10.0', '0.0', '8.0', '0.0', '55.0', '0.0', '0.0'], [77, '51.2202', '0.000000', '0.0', '0.0', '0.0', ' ', 'S', '642.000000', '68.000000', '324783.0', '74282.0', '43988.0', '0.0', '0.0', '82224.0', '71477.0', '0.0', '0.0', '0.0', '0.0', '0.0', '3.0', '0.0', '3.0', '0.0', '0.0'], [78, '51.2206', '0.000000', '0.0', '0.0', '0.0', ' ', 'S', '2224.000000', '414.000000', '555564.0', '119831.0', '36443.0', '0.0', '0.0', '885352.0', '114571.0', '0.0', '0.0', '0.0', '0.0', '0.0', '10.0', '0.0', '65.0', '0.0', '0.0'], [79, '51.2211', '0.000000', '0.0', '0.0', '0.0', ' ', 'S', '46.000000', '1756.000000', '899787.0', '209611.0', '63561.0', '0.0', '0.0', '1716376.0', '152125.0', '0.0', '0.0', '0.0', '0.0', '0.0', '222.0', '0.0', '297.0', '0.0', '0.0'], [80, '51.2305', '0.000000', '5.0', '0.0', '0.0', ' ', 'S', '42.000000', '21.000000', '59719.0', '17280.0', '0.0', '0.0', '0.0', '1.0', '687.0', '0.0', '5.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [81, '51.2308', '0.000000', '0.0', '0.0', '62.3', ' ', 'S', '207.000000', '4058.000000', '125057.0', '329789.0', '161520.0', '0.0', '0.0', '158918.0', '727423.0', '0.0', '0.0', '0.0', '62.3', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'], [82, '51.3801', '214.000000', '0.0', '0.0', '0.0', ' ', 'S', '0.000000', '57.000000', '13507.0', '1160.0', '0.0', '0.0', '0.0', '86661.0', '0.0', '214.0', '0.0', '0.0', '0.0', '0.0', '42.0', '0.0', '42.0', '0.0', '0.0'], [83, '52.0101', '207.300000', '157.3', '11.7', '0.0', ' ', 'S', '9630.000000', '2390.000000', '3133516.0', '679686.0', '437845.0', '0.0', '0.0', '362278.0', '186469.0', '312.0', '157.3', '11.7', '0.0', '0.0', '48.0', '0.0', '69.0', '0.0', '0.0'], [84, '52.0301', '187.700000', '39.0', '0.0', '0.0', ' ', 'S', '13279.000000', '1482.000000', '3234952.0', '737774.0', '52765.0', '0.0', '0.0', '0.0', '0.0', '203.7', '39.0', '0.0', '0.0', '0.0', '0.0', '0.0', '102.0', '0.0', '0.0'], [85, '52.0601', '6